<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geomapper</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link href="output.css" rel="stylesheet">
</head>
<body>
  <div id="map" class="fixed top-0 left-0 right-0 bottom-0"></div>

  <div class="fixed bg-blue-800 bottom-4 left-4 z-30 text-white w-1/2 p-4">Heyyy</div>

  <div hx-get="/locations" hx-trigger="load" hx-swap="none"></div>
  <script type="module" src="js/mapInit.js"></script>
</body>
</html>
