<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Global Location Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link href="/src/templates/css/output.css" rel="stylesheet">
  <style>
    .red-marker {
      filter: hue-rotate(0deg) saturate(100%) brightness(100%) invert(21%) sepia(100%) saturate(2202%) hue-rotate(340deg) brightness(90%) contrast(101%);
    }        
  </style>
</head>
<body>
  <div id="map" class="fixed top-0 left-0 right-0 bottom-0"></div>
  <div class="fixed bg-red-800 bottom-4 left-4 z-30 text-white w-1/2 p-4">Heyyy</div>

  <div hx-get="/locations?sheetId={{ .SheetId }}" hx-trigger="load" hx-swap="none"></div>
  <script src="/src/templates/js/mapInit.js"></script>
</body>
</html>
