<section class="bg-[#1d5468] text-white p-6 rounded-md">
  <h2 class="text-3xl font-semibold mb-2">Your map is ready.</h2>
  <p class="mb-3">Add this code snippet to your website.</p>
  <div class="px-4 pb-2 text-right bg-[#162c36]">
    <span 
      id="copyIframeSnippet" 
      class="inline-block text-sm cursor-pointer font-normal translate-y-[2px]">
      <i class="fas fa-clipboard mr-1"></i> Copy HTML
    </span>
  </div>

  <pre id="embedCode" class="bg-[#071e22]  text-white px-8 py-6 mb-4 overflow-x-auto text-sm">&lt;iframe
  src="{{.Domain}}/?sheetId={{.SheetId}}"
  width="100%"
  height="300"
  frameborder="0"
&gt;&lt;/iframe&gt;</pre>

  <p class="mb-4 text-xs">
    <a 
      class="underline cursor-pointer"
      hx-on="click: document.getElementById('getHelp').classList.remove('hidden')">
      Get help</a>  
    positioning your iframe in your site.
  </p>

  <div id="getHelp" class="hidden text-sm mb-6">
    <div><strong>Wow</strong> you're actually using this thing?</div>
    <div>I don't have this part set up quite yet but you can <a class="underline" href="mailto:codethingsdotnet@gmail.com">email me</a> for help.</div>
  </div>

  <div class="mb-4">
    <iframe src="/?sheetId={{.SheetId}}" width="100%" height="300" frameborder="0"></iframe>
  </div>

  <div class="flex flex-col gap-3 text-sm">
    <div class="bg-[#2d6478] px-3 py-2">
      <strong>Note: </strong> Make sure to re-sync your spreadsheet whenever you make changes.
    </div>

    <div class="bg-[#2d6478] px-3 py-2 flex gap-2 items-center">
      <strong class="text-3xl">&#9888;</strong>
      <span>
        Also please note this tool is in BETA.  I really, really, really don&apos;t want to but at some point I may have to wipe all the data.  Hopefully not.  Sadly, if it stops working please try uploading your content again!     
      </span>
    </div>
  </div>
</section>

<script>
  bindCopyListener({ 
    elementId: 'copyIframeSnippet',
    contentToCopyId: 'embedCode' 
  });
</script>