<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>MapperBoi - No Code Online Map Generator</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link href="/src/templates/dist/output.css" rel="stylesheet">
</head>
<body>
  <div id="map" class="fixed top-0 left-0 right-0 bottom-0"></div>
  <div class="fixed bg-[rgba(0,0,0,0.6)] left-1 bottom-0 z-30 text-white text-xs font-bold px-4 py-2 w-[215px] scale-75 origin-left">
    <a href="/" target="_blank" rel="noopener noreferrer">
      <span class="inline-block scale-x-[200%] origin-left text-gray-300">MAPPERBOI</span> 
      <span< class="inline-block translate-x-[4.9rem] translate-y-[1px] text-orange-400">BETA</span>
    </a>
  </div>

  <div hx-get="/locations?sheetId={{ .SheetId }}" hx-trigger="load" hx-swap="none"></div>
  <script src="/src/templates/js/mapInit.js"></script>
</body>
</html>
