<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Mapperizer :: Website Map Generator</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link href="/src/templates/dist/output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
</head>
<body>
  <div id="map" class="fixed top-0 left-0 right-0 bottom-0"></div>

  <a href="/" target="_blank" rel="noopener noreferrer"
    class="fixed bg-[rgba(0,0,0,0.6)] left-0 bottom-0 z-30 text-white text-xs font-thin px-3 py-2 w-[205px] scale-75 origin-left translate-y-[5px]">
    <span class="inline-block scale-x-[200%] origin-left text-gray-300">MAPPERIZER</span> 
    <span< class="inline-block translate-x-[4.75rem] text-orange-400 font-bold">BETA</span>
  </a>

  <div hx-get="/getLocations?sheetId={{ .SheetId }}" hx-trigger="load" hx-swap="none"></div>
  <script src="/src/templates/js/mapInit.js"></script>
</body>
</html>
